{% load static %}
<html>
    <head>
        <title>Cadastral GIS</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% include "./common/django_to_js_variables.html" %}   

        <script type="text/javascript" src="{% static 'vendor-assets/jquery/jquery-3.3.1.min.js' %}"></script>
        
        <script src="{% static 'vendor-assets/popper.js/popper.min.js' %}"></script>        
        <script src="{% static 'vendor-assets/popper.js/tooltip.min.js' %}"></script>

        <link rel="stylesheet" href="{% static 'vendor-assets/bootstrap/bootstrap-4.3.1/css/bootstrap.min.css' %}">
        <script type="text/javascript" src="{% static 'vendor-assets/bootstrap/bootstrap-4.3.1/js/bootstrap.bundle.min.js' %}"></script>
        
        <link href="{% static 'vendor-assets\fontawesome-free-5.7.2-web\css\all.css' %}" rel="stylesheet">


        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- Load Custom Javascript at last -->
        <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
        {% block head %}

        {% endblock %}
    </head>
    <body>
        {% block navbar %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="/">Cadastral GIS</a>
                {% block pagetitle %}
                {% endblock %}
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <!--
                        <li class="nav-item">
                            <a class="nav-link" href="#">Link</a>
                        </li>
                        -->
                        <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item {% if request.resolver_match.url_name == 'parcel_map' %}active{% endif %}">
                            <a class="nav-link" href="/parcel-map/">Parcel Map <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                {{ user.username }}
                            </a>
                            <div class="dropdown-menu dropdown-menu-right text-right" aria-labelledby="navbarDropdown">
                            <!--<a class="dropdown-item" href="./login">Login</a>-->
                            <a class="dropdown-item" href="/logout/">Logout</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/parcel-map/">Parcel Map</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item"> {{ user.email }} </a>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item {% if request.resolver_match.url_name == 'home' %}active{% endif %}">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li  class="nav-item">
                            <a class="nav-link" href="/accounts/login" id="login">Login&nbsp;<i class="fas fa-sign-in-alt"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!--
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
                -->
            </nav>
            <div class="vertical-line"></div>
        </div>
        {% endblock %}
        <div id="app-main" class="container-fluid">
            {% block content %}
            
            {% endblock %}
        </div>    
        <div id="snackbar">Some text some message..</div>
        <script>
            var csrf_token = '{{ csrf_token }}';
            var userName = '{{ user.username }}';
            var userEmail = '{{ user.email }}';
        </script>
    </body>
</html>