{% extends 'base.html' %}
{% load static %}
{% load template_tags %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="padding: 5rem;">
        <div class="col-sm" style="text-align: center;">
            {% if request.user|has_group:"activated" %} 
                Hello {{ user }} you account is activated !
                <br />
                <a href="/parcel-map/"> Click here to go to parcel map. </a>
            {% else %}
                Hello {{ user }} you account is <red>not activated</red> please contact admin !
                <br />
                <a href="/logout/"> Click here to logout. </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}