{% extends 'base.html' %}
{% load static %}

{% block head %}
    {% include "./common/leaflet-includes-full.html" %}   
    <link rel="stylesheet" href="{% static 'css/map.css' %}">
    <script src="{% static 'js/map.js' %}"></script>
    <script src="{% static 'js/leafletLib.js' %}"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3&sensor=false&key=AIzaSyBkpE5yiElSM6dJ8sxA6k23IQ_gAumrlAo"></script>
{% endblock %}

{% block navbartitle %}
    Parcel Map
{% endblock %}

{% block content %}
<!-- page-wrapper -->
<div class="page-wrapper chiller-theme toggled" style="    color: #bababa;">
   
    <div>
        <a id="show-sidebar" class="btn btn-sm btn-dark" href="#">
            <i class="fas fa-bars"></i>
        </a>
    </div>

    <!-- sidebar-wrapper  -->
    <nav id="sidebar" class="sidebar-wrapper">
        <div class="sidebar-content">
            <div class="sidebar-brand">
                <a href="#">Tools & Analytics</a>
                <div id="close-sidebar">
                    <i class="fas fa-times"></i>
                </div>
            </div>
            <!-- sidebar-search  -->
            <div class="sidebar-menu">
                <ul>
                    <li class="header-menu">
                        <span>General</span>
                    </li>
                    <li class="sidebar-dropdown active">
                        <a href="#">
                            <i class="fa fa-bars"></i>
                            <span>Navigation</span>
                            <!--
                                <span class="badge badge-pill badge-warning">New</span>
                            -->
                        </a>
                        <div class="sidebar-submenu light">
                            <!--
                            <div class="custom-control custom-switch">
                                <input type="checkbox" class="custom-control-input" id="navigation-spatial" onchange="toggleNavigation()">
                                <label class="custom-control-label" for="navigation-spatial">Use Spatial Extents</label>
                            </div>
                            -->
                            <br/>
                            <label for="sel1">Select State:</label>
                            <select class="form-control" id="navStateSelect" onchange="handle_nav_state_change()">
                                <option value="-1">-- Select a State --</option>
                                <option selected value="27">Maharashtra</option>
                            </select>
                            <br/>            
                            
                            <div id ="navigation-list" style="font-size: .75rem;">

                            </div>
                            <br/>   
                            <div style="font-size: .75rem;">
                                <input id="survey-no-search" onkeyup="javascript:search_surveyno(event, this)" type="text" style="width: 100%; display: none;" placeholder="Search Survey no..." >
                            </div>
                            <div style="font-size: .75rem;">
                                <input id="latlng-search" onkeyup="javascript:search_latlng(event, this)" type="text" style="width: 100%; display: none;" placeholder="lat,long" >
                            </div>
                            
                        </div>
                    </li>
                    <!--
                    <li class="sidebar-dropdown active">
                        <a href="#">
                            <i class="fa fa-chart-pie"></i>
                            <span>Analysis</span>
                            <span class="badge badge-pill badge-danger">3</span>
                        </a>
                        <div class="sidebar-submenu light">
                            <div id="analytics-content">
                                Sandeep                              
                            </div>
                        </div>
                    </li>
                    -->
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-map"></i>
                            <span>Layers</span>
                            <!--
                                <span class="badge badge-pill badge-danger">3</span>
                            -->
                        </a>
                        <div class="sidebar-submenu light">
                            <div id="layer-panel" style="padding: 20px 10px">
                                Work in progress ...                              
                            </div>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-map"></i>
                            <span>Analytic Tools</span>
                            <span class="badge badge-pill badge-danger">2</span>
                        </a>
                        <div class="sidebar-submenu light" style="padding: 8px 10px 8px 10px;">
                            <div id="analytics-tools-panel" style="padding: 5px 10px;">
                                <div class="mandal">
                                    <br>
                                    <button class="btn btn-info" style="font-size: 0.75rem;" onclick="javascript:analytic_tools_road_connectivity()">
                                        upcoming.
                                    </button>
                                </div>           
                            </div>
                        </div>
                    </li>
                    <li class="sidebar-dropdown">
                        <a href="#">
                            <i class="fa fa-map"></i>
                            <span>Analytics</span>
                            <!--
                                <span class="badge badge-pill badge-danger">3</span>
                            -->
                        </a>
                        <div class="sidebar-submenu light" style="padding: 8px 10px 8px 10px;">
                            <div id="analytics-panel" style="padding: 5px 10px; font-size: 0.8rem;">
                                <div id="analytics-content">

                                </div>                           
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- sidebar-menu  -->
        </div>
        <!-- sidebar-content  -->
        <div class="sidebar-footer dark">
            <!--
            <a href="#">
            <i class="fa fa-bell"></i>
            <span class="badge badge-pill badge-warning notification">3</span>
            </a>
            <a href="#">
            <i class="fa fa-envelope"></i>
            <span class="badge badge-pill badge-success notification">7</span>
            </a>
            <a href="#">
            <i class="fa fa-cog"></i>
            <span class="badge-sonar"></span>
            </a>
            -->
            <a href="#">
            <i class="fa fa-power-off"></i>
            </a>
        </div>
    </nav>
    <!-- sidebar-wrapper  -->
    

    <main class="page-content">
        <div class="map-wrapper">    
            <div id="MapCanvas">

            </div>
        </div>
    </main>

</div>
<!-- page-wrapper -->

<script>
    var map,
        layer_to_identify,
        wms_api = absolutePath('/geoserver/wms'),
        maphit = 0;

    console.log(wms_api);

    wms_api = "http://ec2-13-234-197-103.ap-south-1.compute.amazonaws.com/geoserver/wms";


    window.onload = function (){
        // Will execture when Page is ready
        console.log('ready');
        toastmessage("Welcome Select a state to continue", 3000);
    }

    document.addEventListener("DOMContentLoaded", function(event) {
        initializemap();
        handle_page_load()
    });


    // context menu start //
    function showCoordinates (e) {
        alert(e.latlng);
    }

    function centerMap (e) {
        map.panTo(e.latlng);
    }

    function zoomIn (e) {
        map.zoomIn();
    }

    function zoomOut (e) {
        map.zoomOut();
    }

    function open_latlng_search(){
        var latlng_search = document.getElementById('latlng-search');
        latlng_search.value = '';
        latlng_search.style.display = 'block';
        latlng_search.focus();
    }

    function search_latlng(event, el){
        map.closePopup();
        if (event.keyCode == 13){
            let latlng = el.value;
            var xy;
            if (latlng.includes(',')){
                xy = latlng.split(',');
            } else {
                xy = latlng.split(' ');
            }
            if (xy.length == 2){
                map.flyTo(xy, 16);               
                let directions_html = `
                    <div class="text-center" style="padding:10px; background: #337ab7;">
                        <span style="color:#fff;">
                            <i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp;Get Directions
                        </span>                          
                        <div style="width:100%; margin-top:10px;">                            
                            <a target="_blank" href="http://maps.google.com/maps?saddr=my+location&daddr=${xy}">                              
                                <div style="border:2px solid rgba(0,0,0,0.2); font-size: 12px; height: 30px; padding: 4px 5px; color: #333 !important;" class="btn btn-light">            Take me there                              
                                </div>                            
                            </a>                            
                            <a target="_blank" href="http://maps.google.com/maps?saddr=${xy}&daddr=">                              
                                <div style="border:2px solid rgba(0,0,0,0.2); font-size: 12px; height: 30px; padding: 4px 5px; color: #333 !important;" class="btn btn-light">            Take me from                              
                                </div>                            
                            </a>                          
                        </div>                         
                    </div>
                `;    
                let lyr = L.marker(xy)
                            .addTo(map)
                            .bindPopup(directions_html)
                            .openPopup();     
                identifiedlayerids.push(lyr._leaflet_id);
            } else {
                latlng_search.focus();
            }
        }

    }

    var search_surveyno_event;
    function initialize_search_surveyno(event){
        var survey_no_search = document.getElementById('survey-no-search');
        survey_no_search.value = '';
        survey_no_search.style.display = 'block';
        survey_no_search.focus();
        search_surveyno_event = event;
    }

    function search_surveyno(event, el){
        console.log(event);
        if (event.keyCode == 13){
            var survey_no_search = document.getElementById('survey-no-search');
            let surveyno = survey_no_search.value;
            if (surveyno.trim()){
                console.log(search_surveyno_event);
                let latlng = search_surveyno_event.latlng;
                let xy = [latlng.lng, latlng.lat];
                let parameters = {
                    'request_type': 'search',
                    'pin': surveyno.trim(),
                    'xy' : xy,
                    'format': 'json'
                }
                fetch_data(parcel_api_url, parameters)
                .then(function(data){
                    console.log(data);
                    if(data.parcel_data){
                        if (data.parcel_data.parcel_data){
                            let geojson = data.parcel_data.parcel_data.geojson;
                            if (geojson){
                                if (geojson.features.length){
                                    try {
                                        clearidentifiedfeatures();
                                        let props = geojson.features[0].properties;
                                        let popuphtml = get_parcel_popup_content(props);
                                        var lyr = L.geoJSON(geojson.features[0]).addTo(map);
                                        map.flyToBounds(lyr.getBounds());
                                        lyr.bindPopup(popuphtml).openPopup();
                                        identifiedlayerids.push(lyr._leaflet_id);
                                    } catch(err) {
                                        console.log('Error Openening Popup');
                                        console.log(err);
                                        return false;
                                    }   
                                }
                            }
                        }
                    }
                })
            }
            survey_no_search.value = '';
            survey_no_search.style.display = 'none';
        }
    }

    function zoom_to_parcel(event){
        get_parcel_data_on_click(event)
        .then(function (data){
            console.log(data);
            let geojson = data.parcel_data.geojson;
            if (!(geojson.features.length)){
                console.log('No Feature');
                return false;
            }
            if (geojson.features.length){
                try {
                    clearidentifiedfeatures();
                    let props = geojson.features[0].properties;
                    let popuphtml = get_parcel_popup_content(props);
                    var lyr = L.geoJSON(geojson.features[0]).addTo(map);
                    map.flyToBounds(lyr.getBounds());
                    lyr.bindPopup(popuphtml);//.openPopup();
                    identifiedlayerids.push(lyr._leaflet_id);
                } catch(err) {
                    console.log('Error Openening Popup');
                    console.log(err);
                    return false;
                }   
            }
        });
    }

    function get_parcel_info(event){
        get_parcel_data_on_click(event)
        .then(function (data){
            console.log(data);
            let geojson = data.parcel_data.geojson;
            if (!(geojson.features.length)){
                console.log('No Feature');
                return false;
            }
            if (geojson.features.length){
                try {
                    clearidentifiedfeatures();
                    let props = geojson.features[0].properties;
                    let popuphtml = get_parcel_popup_content(props);
                    var lyr = L.geoJSON(geojson.features[0]).addTo(map);
                    //map.flyToBounds(lyr.getBounds());
                    lyr.bindPopup(popuphtml).openPopup();
                    identifiedlayerids.push(lyr._leaflet_id);
                } catch(err) {
                    console.log('Error Openening Popup');
                    console.log(err);
                    return false;
                }   
            }
        });
    }

    var context_menu_opts = [
        /*{
            text: 'Show coordinates',
            callback: showCoordinates
        }, 
        {
            text: 'Center map here',
            callback: centerMap
        },*/ 
        {
            text: 'Zoom to survey no (search)',
            callback: initialize_search_surveyno
        },
        {
            text: 'Zoom to this survey no',
            callback: zoom_to_parcel
        },
        {
            text: 'Survey no Information',
            callback: get_parcel_info
        },
        '-', 
        {
            text: 'Go to Survey no',
            callback: centerMap
        },
        {
            text: 'Reach Survey No From',
            callback: centerMap
        },
        '-',
        {
            text: 'Go to Lat Long',
            icon:  static_dir + 'images/latlng.png',
            callback: open_latlng_search
        },
        {
            text: 'Zoom in',
            icon: static_dir + 'images/zoom-in.png',
            callback: zoomIn
        }, 
        {
            text: 'Zoom out',
            icon: static_dir + 'images/zoom-out.png',
            callback: zoomOut
        }
    ]

    // context menu ends //

    function initializemap(){

        // Basic Map
        map = new L.Map('MapCanvas', {
            zoomControl: false, //we dont want left side zoom control
            scrollWheelZoom: true,
            center: [ 16.5, 79.5],
            zoom: 6,
            maxZoom: 20,
            minZoom: 5,
            doubleClickZoom: false,
            contextmenu: true,
            contextmenuWidth: 140,
            contextmenuItems: context_menu_opts
        });

        L.control.scale({
            metric: true,
            imperial: false
        }).addTo(map);
        L.control.zoom({  //add zoom control to right side
        position:'bottomleft',
        }).addTo(map);
        L.control.navbar().addTo(map);
        //leaflet_add_drawing_tools(map);
        var zoomboxcontrol = L.control.zoomBox({
            modal: true,
            title: "Zoom to specific area",
            content: '',
            addToZoomControl: true
        });
        //leaflet_addgeolocation(map);
                
        map.on('zoomend', function(){
            console.log(map.getZoom());
        });
        map.on('dblclick', function(e){
            handle_map_click(e);
        });
        
        leaflet_addgeolocation(map);

        leaflet_add_google_search(map);

        leaflet_add_drawing_tools(map);

        leaflet_add_upload_controls(map);

        //map.setView(new L.LatLng(17.5, 81.8), 10);

        //leaflet_displayCoordinates(map);

        // Basemaps 
        blankbasemap = L.tileLayer('http://www.google.co.in/maps/vt/lyrs=r&hl=en&x={x}&y={y}&z={z}&s=Ga', {
            detectRetina: true,
            maxNativeZoom: 25,
            maxZoom: 30,
            opacity: 0,
        }).setZIndex(20);
        var googlebasemap = L.tileLayer('http://www.google.co.in/maps/vt/lyrs=r&hl=en&x={x}&y={y}&z={z}&s=Ga', {
            detectRetina: true,
            maxNativeZoom: 25,
            maxZoom: 30,
        }).setZIndex(2);
        googlesatellite = L.tileLayer('http://www.google.co.in/maps/vt/lyrs=s&hl=en&x={x}&y={y}&z={z}&s=Ga', {
            detectRetina: true,
            maxNativeZoom: 25,
            maxZoom: 30,
        }).setZIndex(3).addTo(map);
        var google_terrain = L.tileLayer('http://www.google.co.in/maps/vt/lyrs=p&hl=en&x={x}&y={y}&z={z}&s=Ga', {
            detectRetina: true,
            maxNativeZoom: 25,
            maxZoom: 30,
        }).setZIndex(4);
        esriImagery = L.esri.basemapLayer("Imagery", {
            maxNativeZoom: 17,
            maxZoom: 30,
        });//.addTo(map);
        esriStreets = L.esri.basemapLayer("Streets", {
            maxNativeZoom: 17,
            maxZoom: 30,
        });
        var esriTransportationLabels = L.esri.basemapLayer("ImageryTransportation");
        var esriImageryLabels = L.esri.basemapLayer("ImageryLabels");
        //var esrisatellite = L.featureGroup([esriImagery, /*esriTransportationLabels, esriImageryLabels*/]).addTo(map);
        //esrisatellite = L.esri.basemapLayer().setZIndex(4);

        basemaps = {
            "Google Map": googlebasemap, 
            "Google Satellite": googlesatellite, 
            "Google Terrain": google_terrain,
            "Esri Satellite": esriImagery, 
            "Esri Streets": esriStreets, 
            "Remove Basemap": blankbasemap
        };


        // Overlay Layers
        state_layer = L.tileLayer.wms(wms_api, {
            layers: 'cadastral_gis:india_state',
            format: 'image/png',
            transparent: true,
            version: '1.1.0',
            //attribution: "myattribution",
            //crs: L.CRS.EPSG32644,
            maxNativeZoom: 30,
            maxZoom: 30,
            opacity: 0.9,
            minZoom: 5,
            maxZoom: 30,
            tileSize: 512,
            layercontrol: true, // for localuse
            layername : "State", // for localuse
            layertheme: "Admin Layers" // for localuse
        }).setZIndex(9050).addTo(map);

        district_layer = L.tileLayer.wms(wms_api, {
            layers: 'cadastral_gis:india_district',
            format: 'image/png',
            transparent: true,
            version: '1.1.0',
            //attribution: "myattribution",
            //crs: L.CRS.EPSG32644,
            maxNativeZoom: 30,
            maxZoom: 30,
            opacity: 0.9,
            minZoom: 7,
            maxZoom: 30,
            tileSize: 512,
            layercontrol: true, // for localuse
            layername : "District", // for localuse
            layertheme: "Admin Layers" // for localuse
        }).setZIndex(8050).addTo(map);

        subdistrict_layer = L.tileLayer.wms(wms_api, {
            layers: 'cadastral_gis:india_subdistrict',
            format: 'image/png',
            transparent: true,
            version: '1.1.0',
            //attribution: "myattribution",
            //crs: L.CRS.EPSG32644,
            maxNativeZoom: 30,
            maxZoom: 30,
            opacity: 0.9,
            minZoom: 10,
            maxZoom: 30,
            tileSize: 512,
            layercontrol: true, // for localuse
            layername : "Sub District", // for localuse
            layertheme: "Admin Layers" // for localuse
        }).setZIndex(7050).addTo(map);

        village_layer = L.tileLayer.wms(wms_api, {
            layers: 'cadastral_gis:india_revenue_village',
            format: 'image/png',
            transparent: true,
            version: '1.1.0',
            //attribution: "myattribution",
            //crs: L.CRS.EPSG32644,
            maxNativeZoom: 30,
            maxZoom: 30,
            opacity: 0.9,
            minZoom: 12,
            maxZoom: 30,
            tileSize: 512,
            layercontrol: true, // for localuse
            layername : "Village", // for localuse
            layertheme: "Admin Layers" // for localuse
        }).setZIndex(6050).addTo(map);

        parcel_layer = L.tileLayer.wms(wms_api, {            
            layers: 'cadastral_gis:india_revenue_village',
            format: 'image/png',
            transparent: true,
            version: '1.1.0',
            //attribution: "myattribution",
            //crs: L.CRS.EPSG32644,
            maxNativeZoom: 30,
            maxZoom: 30,
            opacity: 0.9,
            minZoom: 15,
            maxZoom: 30,
            tileSize: 512,
            cql_filter: '1=2',
            layercontrol: true, // for localuse
            layername : "Parcel", // for localuse
            layertheme: "Admin Layers" // for localuse
        }).setZIndex(5050).addTo(map);

        // Draw Layer controls
        draw_layer_control(basemaps, layers = true);
    }

    
    function leaflet_add_google_search(map){
        var geocoder = new google.maps.Geocoder();

        function googleGeocoding(text, callResponse)
        {
            geocoder.geocode({address: text}, callResponse);
        }

        function formatJSON(rawjson)
        {
            var json = {},
                key, loc, disp = [];

            for(var i in rawjson)
            {
                key = rawjson[i].formatted_address;
                
                loc = L.latLng( rawjson[i].geometry.location.lat(), rawjson[i].geometry.location.lng() );
                
                json[ key ]= loc;	//key,value format
            }

            return json;
        }

        map.addControl( new L.Control.Search({
            sourceData: googleGeocoding,
            formatData: formatJSON,
            markerLocation: true,
            autoType: false,
            autoCollapse: true,
            minLength: 2
        }) );
    }



    var location_marker,
        location_accuracy_circle;
    function leaflet_addgeolocation(map){
        //-------------------- Geolocation
        map.locate({setView: false,
            //maxZoom: 18,
            timeout:3000,
            watch:true,
            enableHighAccuracy:true
        });
        function onLocationFound(e) {
            //maptonavigation(e.latlng);
            var radius = e.accuracy / 2;
            function within(){
                if (radius > 1000){
                    return (radius/1000)+" KM"
                } else {
                    return radius+" meters"
                }
            }

            /*if (map.hasLayer(location_accuracy_circle)){
                map.removeLayer(location_accuracy_circle);
            }

            location_accuracy_circle = L.circle(e.latlng, {
                radius: radius,
                fill: true,
                fillColor: '#5e98ff',
                fillOpacity: 0.4,
                stroke: false,
                interactive: false,
                'background-blend-mode': 'darken'
            }).addTo(map);*/
            if (map.hasLayer(location_marker)){
                map.removeLayer(location_marker);
            }
            var popuphtml = '<div style="line-height: 25px;    text-align: left;   padding: 10px; background: white; width: max-content;">\
                            <p><b>You are within ' + within() + ' from this point</b></p>\
                            </div>\
                            ';
            location_marker = L.circleMarker(e.latlng, {
                radius: 8,
                fill: true,
                fillColor: '#4487ef',
                fillOpacity: 0.9,
                stroke: true,
                color: '#fff',
                weight: 2,
                opacity: 0.7,
                bubblingMouseEvents: false,
                interactive: true
            }).bindPopup(popuphtml).addTo(map);//.openPopup();
            handleafterlocate(e);
            if ((maphit <= 0) && (map.hasLayer(location_marker))){
                //map.setView(location_marker._latlng, 18);
                //location_marker.openPopup();
                maphit++;
            } else {
                //map.closePopup();
            }
            $('#gpsbutton').on('click', function(){
                map.flyTo(location_marker._latlng, 16);
                //location_marker.openPopup();
                //console.log(location_marker);
            });
        }

        map.on('locationfound', onLocationFound);
        var customControl =  L.Control.extend({

            options: {
                position: 'topleft'
            },

            onAdd: function (map) {
                var container = L.DomUtil.create('div');
                container.className += "btn";
                container.title="GPS";
                container.innerHTML = '<i class="fas fa-location-arrow"></i>';

                container.style.backgroundColor = 'white';     
                //container.style.backgroundImage = "url(https://t1.gstatic.com/images?q=tbn:ANd9GcR6FCUMW5bPn8C4PbKak2BJQQsmC-K9-mbYBeFZm1ZM2w2GRy40Ew)";
                container.style.backgroundSize = "30px 30px";
                container.style.width = '30px';
                container.style.height = '30px';
                container.style.border = '2px solid rgba(0,0,0,0.2)';
                container.style.cursor = 'pointer';
                container.style.padding = '5px 0 0 0';
                
                container.onmouseover = function(){
                    container.style.backgroundColor = '#c7c7c7'; 
                }
                container.onmouseout = function(){
                    container.style.backgroundColor = 'white'; 
                }

                container.onclick = function(){
                    map.flyTo(location_marker._latlng, 16);
                }

                return container;
            }
        });
        map.addControl(new customControl());
    }

    // Layer Controller
    var layer_control;
    function draw_layer_control(basemaps = basemaps, layers = false){
        try{
            map.removeControl(layer_control); 
        } catch(err) {
            console.log(err);
        }
        var _layers = {};
        if (layers == true){
            for (i in map._layers){
                let lyr = map._layers[i];
                //console.log(lyr);
                if (lyr.options.layercontrol){
                    
                    if (lyr.options.layername){
                        var title = lyr.options.layername;
                    } else if (lyr.options.layers){
                        var title = lyr.options.layers;
                    } else {
                        var title = 'Un-Named Layer';
                    }

                    _layers[title] = lyr;

                }
            }
        } else if (layers){
            _layers = layers;
        }
        layer_control = L.control.layers(
            basemaps,
            _layers,
            {
                collapsed: true,
                autoZIndex: false
            }
        ).addTo(map);
    }

    // Leaflet handlers
    function handle_map_click(e){
        console.log(e);
        //clear_info_layers();
        clearidentifiedfeatures();
        //info_popup(e);
        /*leaflet_identify(e)
        .then( function(data){
            //console.log(data);
            if (data){
                if (data.features){
                    show_popup(data);                    
                }
            }            
        });*/
        get_parcel_data_on_click(e)
        .then( function(data){
            //console.log(data);
            if (data.parcel_data.geojson){
                show_popup(data.parcel_data.geojson);      
            }            
        });
    }

    var identifiedlayerids = [];
    function clearidentifiedfeatures(){
        for (i in identifiedlayerids){
            let lyrid = identifiedlayerids[i];3
            let lyr = map._layers[lyrid];
            if (map.hasLayer(lyr)){
                map.removeLayer(lyr);
            }
        }
    }


    function get_parcel_popup_content(props){
        //console.log(props);
        let attribs = [
            //'pin',
            ['pin', 'Survey No'],
            ['vil_name', 'Village'],
            ['subdis_name', 'Sub District'],
            ['dis_name', 'District'],
            ['perimeter', 'Perimeter', { decimal: 2 } ],
            ['area', 'Area', { decimal: 2 } ],
            ['max_elev', 'Max Elevation', { decimal: 2 } ],
            ['min_elev', 'Min Elevation', { decimal: 2 } ],
        ]
        var table_body = '';
        for ( i in attribs){
            let attrib = attribs[i];
            if (Array.isArray(attrib)){

                var value = props[attrib[0]];
                console.log(value);

                if (value){
                    if (attrib[2]){
                        if (attrib[2].decimal){
                            let dec_p = attrib[2].decimal;
                            value = Number(value).toFixed(2);
                        }
                        if (attrib[2].format){
                            value = attrib[2].format(value);
                        }
                    }
                } else {
                    value = 'upcoming !';                    
                }

                table_body += `
                <tr>
                    <td>
                        ${attrib[1]}
                    </td>
                    <td>
                        ${value}
                    </td>
                </tr>`;

            } else {
                var value = props[attrib];
                if (!(value)){
                    value = 'upcoming !';
                }
                table_body += `
                <tr>
                    <td>
                        ${attrib}
                    </td>
                    <td>
                        ${props[attrib]}
                    </td>
                </tr>`;
            }
        }

        let popuphtml = `
            <style>
            table.popuptbl th{
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #2f7fa1;
                color: white;
            }
                
            </style>
            <div class="container-fluid" style="padding: 1rem; max-height: 60vh;  overflow: scroll;   margin-top: 20px;">
                <table data-toggle="table" class="table table-hover table-condensed popuptbl" style="    border: 1px dashed;">
                    <thead>
                        <tr>
                            <th>Attribute</th>
                            <th>Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        ${table_body}
                    </tbody>
                </table>
            </div>
        `;

        if (props.point){
            console.log(props.point);
            let p = props.point.slice(6, -1).split(' ');
            let parcel_point = [ p[1], p[0]];
            let directions_html = `
                <div class="text-center" style="padding:10px; background: #337ab7;">
                    <span style="color:#fff;">
                        <i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp;Get Directions
                    </span>                          
                    <div style="width:100%; margin-top:10px;">                            
                        <a target="_blank" href="http://maps.google.com/maps?saddr=my+location&daddr=${parcel_point}">                              
                            <div style="border:2px solid rgba(0,0,0,0.2); font-size: 12px; height: 30px; padding: 4px 5px; color: #333 !important;" class="btn btn-light">            Take me there                              
                            </div>                            
                        </a>                            
                        <a target="_blank" href="http://maps.google.com/maps?saddr=${parcel_point}&daddr=">                              
                            <div style="border:2px solid rgba(0,0,0,0.2); font-size: 12px; height: 30px; padding: 4px 5px; color: #333 !important;" class="btn btn-light">            Take me from                              
                            </div>                            
                        </a>                          
                    </div>                         
                </div>
            `;
            popuphtml += directions_html;
        }

        return popuphtml;
    }

    function show_popup(data){
        console.log(data);
        if (!(data.features.length)){
            console.log('No Feature');
            return false;
        }
        try {
            clearidentifiedfeatures();
            let props = data.features[0].properties;
            let popuphtml = get_parcel_popup_content(props);
            let lyr = L.geoJSON(data.features[0]).addTo(map);
            lyr.bindPopup(popuphtml).openPopup();
            identifiedlayerids.push(lyr._leaflet_id);
        } catch(err) {
            console.log('Error Openening Popup');
            console.log(err);
            return false;
        }       
    }


    var layer_to_identify;
    async function leaflet_identify(e){

        if (!(layer_to_identify)){
            return false;
        }

        var map = e.target;
        var latlng = e.latlng;
        var mapsize = map.getSize();
        var mappoint = map.latLngToContainerPoint(latlng, map.getZoom());

        var layer = map._layers[layer_to_identify];

        var params = {
            service: 'WMS',
            version: '1.1.1',
            layers: layer.wmsParams.layers,
            query_layers: layer.wmsParams.layers,
            request: 'GetFeatureInfo',
            feature_count: 1,
            info_format: 'application/json',
            srs: 'EPSG:4326',
            height: mapsize.y,
            width: mapsize.x,
            x: Math.ceil(mappoint.x),
            y: Math.ceil(mappoint.y),
            bbox: map.getBounds().toBBoxString(),
        }

        if (layer.wmsParams.cql_filter) {
            params['cql_filter'] = layer.wmsParams.cql_filter;
        }
        if (layer.wmsParams.feature_info_params) {
            params = Object.assign({}, params, layer.wmsParams.feature_info_params);
        }

        let url = buildUrl(layer._url, params);
        console.log(url);
        try {
            let response = await fetch(url);
            let data = await response.json();
            return data;
        } catch {
            return false;
        }
    }


    function handleafterlocate(e){
        var popuphtml = location_marker.getPopup().getContent();
        popuphtml = popuphtml + `
        <div class="text-center" style="padding:10px; background: #337ab7;">
        <span style="color:#fff;"><i class="fa fa-map-signs" aria-hidden="true"></i>&nbsp;Get Information</span>
        <div style="width:100%; margin-top:10px;">
            <div style="border:2px solid rgba(0,0,0,0.2); font-size: 12px; height: 30px; padding: 4px 5px; color: #333 !important;" class="btn btn-default" onclick="latlngsearch('`+ e.latlng.lat + ` ` + e.latlng.lng +`')">
            Find Police Station
            </div>
        </div>
        </div>`
        location_marker.bindPopup(popuphtml);
    }



    // Navigation

    const sort_list = function(a, b){
        if ((a.name) && (b.name)){
            var x = a.name.toLowerCase();
            var y = b.name.toLowerCase();
            if (x < y) {return -1;}
            if (x > y) {return 1;}
            return 0;            
        } else {
            return 0;
        }
    }

    const appendToList = function (rows, id){
        clear_list(id);
        var select = document.getElementById(id);
        var options = select.options;
        var def_opt = options[0];
        select.innerHTML = '';
        rows.sort(sort_list);
        rows.map(
            function(r){
                var opt = `<option value="${r.code}">${r.name}</option>`;
                select.innerHTML+=opt;
            }
        )
        select.insertBefore(def_opt, select.firstChild);
        select.value = '-1';
    }

    function clear_list(id){
        var elements = document.getElementById('navigation-list').getElementsByTagName('select');
        var d = 0;
        for (i=0; i < elements.length; ++i) {
            let select = elements[i];
            if (select.id == id){
                d = 1;
            }
            if (d){
                var options = select.options;
                var def_opt = options[0];
                select.innerHTML = '';
                select.appendChild(def_opt); 
            }
        }
    }

    function get_selected_nav_data(){
        let navStateSelect = document.getElementById('navStateSelect');
        let navDistrictSelect = document.getElementById('navDistrictSelect');
        let navSubDistrictSelect = document.getElementById('navSubDistrictSelect');
        let navVillageSelect = document.getElementById('navVillageSelect');

        try{

            let data = {
                "state": {
                    'text' : navStateSelect.text,
                    'value' : navStateSelect.value
                },
                "district": {
                    'text' : navDistrictSelect.text,
                    'value' : navDistrictSelect.value                
                },
                "subdistrict": {
                    'text' : navSubDistrictSelect.text,
                    'value' : navSubDistrictSelect.value                
                },
                "village": {
                    'text' : navVillageSelect.text,
                    'value' : navVillageSelect.value                
                },
                "parcel": {
                    'text' : navParcelSelect.text,
                    'value' : navParcelSelect.value                
                }
            }

            return data;
        } catch {

            let data = {
                "state": {
                    'text' : navStateSelect.text,
                    'value' : navStateSelect.value
                }
            }

            return data;
        }
    }

    let nav_api_url = absolutePath('/api/v1/list-api/');
        
    async function get_nav_data(parameters){
        try{
            let url = buildUrl(nav_api_url, parameters)
            let response = await fetch(url);
            let data = await response.json();
            console.log(data);
            if (data['nav_data']){
                return data['nav_data'];
            } else {
                console.log("Error Loading Navigation Data");
                console.log("No Valid Results returned");
            }
        } catch (e){
            console.log("Error Loading Navigation Data");
            console.log(e);
        }
    }

    var navigation_overlay_layer = null;
    var overlay_style = {
        radius: 8,
        fillColor: "#ff9",
        color: "#f00",
        weight: 2,
        opacity: 1,
        fillOpacity: 0.3
    };
    var nav_overlay_opts = {
        "zoom_to_geom" : true
    }
    function change_navigation_overlay(geom, opts=nav_overlay_opts){

        if (navigation_overlay_layer){
            if (map.hasLayer(navigation_overlay_layer)) {
                map.removeLayer(navigation_overlay_layer);
            }
        }

        if (geom){
            if (geom.length){
                let geojson = JSON.parse(geom[0]['geom']);
                navigation_overlay_layer = L.geoJSON(geojson, {
                    style: overlay_style,
                    //pointToLayer: function (feature, latlng) {
                    //    return L.circleMarker(latlng, overlay_style);
                    //}
                })
                .addTo(map);
                //console.log(geom);
            }                  
        }

        if (opts['zoom_to_geom']){
            console.log('zoom_to_geom');
            //map.fitBounds(navigation_overlay_layer.getBounds());
            map.flyToBounds(navigation_overlay_layer.getBounds());
        }
    }

    // handlers for navigation
    function handle_page_load(){
        handle_nav_state_change();
    }

    function handle_nav_state_change(){

        var target_listId = 'navDistrictSelect';

        let nav_data = get_selected_nav_data(); 

        var nav_html = `<br>Please Select a State ....<br>`;

        var nav_html_opt1 = `
            <div class="form-group">
                <label for="sel1">Select District:</label>
                <select class="form-control" id="navDistrictSelect" onchange="handle_nav_district_change()">
                    <option selected value="-1">-- Select a District --</option>
                </select>
                <br/>                                
                <label for="sel1">Select Sub District:</label>
                <select class="form-control" id="navSubDistrictSelect" onchange="handle_nav_subdistrict_change()">
                    <option selected value="-1">-- Select a Sub District --</option>
                </select>
                <br/>                                    
                <label for="sel1">Select Village:</label>
                <select class="form-control" id="navVillageSelect" onchange="handle_nav_village_change()">
                    <option selected value="-1">-- Select a Village --</option>
                </select>
                <br/>                                    
                <label for="sel1">Select Parcel:</label>
                <select class="form-control" id="navParcelSelect" onchange="handle_nav_parcel_change()">
                    <option selected value="-1">-- Select a Parcel --</option>
                </select>
            </div>
        `;
        
        var wms_parameters = parcel_layer.options;

        if (nav_data.state.value == '27'){
            nav_html = nav_html_opt1;
            wms_parameters['layers'] = 'cadastral_gis:maharashtra_parcel';
            delete wms_parameters['cql_filter'];
        } else {
            clear(target_listId);
            return false;
        }

        // Set
        document.getElementById('navigation-list').innerHTML = nav_html;  
        //parcel_layer.setParams(wms_parameters, false); 
        parcel_layer = L.tileLayer.wms(wms_api, wms_parameters).setZIndex(5050).addTo(map);
        layer_to_identify = parcel_layer._leaflet_id;
        draw_layer_control(basemaps, layers = true);

        // Load District List
        parameters = {
            'level': "district",
            'state_code': nav_data.state.value
        }
        get_nav_data(parameters)
        .then(function(data){
            appendToList(data.list, target_listId);
            change_navigation_overlay(data.geom, nav_overlay_opts);
        });
    }

    function handle_nav_district_change (){
        var target_listId = 'navSubDistrictSelect';
        let selected_nav_data = get_selected_nav_data();
        if (selected_nav_data.district.value == '-1'){

            clear_list(target_listId);
            return false;

        } else {            
            
            // Load Sub District List
            parameters = {
                'level': "subdistrict",
                'district_code': selected_nav_data.district.value,
            }
            get_nav_data(parameters).then(
                function (data){
                    //console.log(data);
                    appendToList(data.list, target_listId);
                    change_navigation_overlay(data.geom, nav_overlay_opts);
                    //view.goTo(data.extent);
                }
            );

        }
    }

    function handle_nav_subdistrict_change (){
        var target_listId = 'navVillageSelect';
        let selected_nav_data = get_selected_nav_data();
        if (selected_nav_data.subdistrict.value == '-1'){

            clear_list(target_listId);
            return false;

        } else {            
            
            // Load Sub District List
            parameters = {
                'level': "village",
                'subdistrict_code': selected_nav_data.subdistrict.value,
            }
            get_nav_data(parameters).then(
                function (data){
                    //console.log(data);
                    appendToList(data.list, target_listId);
                    change_navigation_overlay(data.geom, nav_overlay_opts);
                    //view.goTo(data.extent);
                }
            );

        }
    }

    function handle_nav_village_change (){
        var target_listId = 'navParcelSelect';
        let selected_nav_data = get_selected_nav_data();
        if (selected_nav_data.village.value == '-1'){

            clear_list(target_listId);
            return false;

        } else {            
            
            // Load Sub District List
            parameters = {
                'level': "parcel",
                'state_code': selected_nav_data.state.value,
                'village_code': selected_nav_data.village.value,
            }
            get_nav_data(parameters).then(
                function (data){
                    //console.log(data);
                    appendToList(data.list, target_listId);
                    change_navigation_overlay(data.geom, nav_overlay_opts);
                    //view.goTo(data.extent);
                }
            );

        }
    }

    function handle_nav_parcel_change(){
        let selected_nav_data = get_selected_nav_data();
        if (selected_nav_data.parcel.value == '-1'){

            change_navigation_overlay([], nav_overlay_opts);

        } else { 
            
            // Load Sub District List
            parameters = {
                'state_code': selected_nav_data.state.value,
                'village_code': selected_nav_data.village.value,
                'parcel': selected_nav_data.parcel.value,
            }
            get_parcel_data_from_list(parameters).then(function (data){
                console.log(data);
                if (data.parcel_data.geojson){
                    let parcel_data = data.parcel_data.geojson;
                    show_popup(parcel_data);
                }
            });

        }

    }

    const parcel_api_url = absolutePath('/api/v1/parcel-api/');
    async function get_parcel_data_from_list(parameters){
        try{
            parameters['request_type'] = 'list';
            let url = buildUrl(parcel_api_url, parameters);
            let response = await fetch(url);
            let data = await response.json();
            console.log(data);
            if (data['parcel_data']){
                return data['parcel_data'];
            } else {
                console.log("Error Loading Parcel Data");
                console.log("No Valid Results returned");
            }
        } catch (e){
            console.log("Error Loading Parcel Data");
            console.log(e);
        }
    }

    async function get_parcel_data_on_click(event){
        console.log(event);
        console.log(event.latlng);
        try{
            let xy = [event.latlng.lng, event.latlng.lat];
            let parameters = {
                'request_type': 'xy',
                'xy' : xy,
                'format': 'json'
            }
            let url = buildUrl(parcel_api_url, parameters);
            let response = await fetch(url);
            let data = await response.json();
            //console.log(data);
            if (data['parcel_data']){
                return data['parcel_data'];
            } else {
                console.log("Error Loading Parcel Data");
                console.log("No Valid Results returned");
            }
        } catch (e){
            console.log("Error Loading Parcel Data");
            console.log(e);
        }        
    }
</script>
{% endblock %}