{% load static %}

<link rel="stylesheet" href="{% static 'vendor-assets/leaflet/leaflet-1.4/leaflet.css' %}"/>
<script src="{% static 'vendor-assets/leaflet/leaflet-1.4/leaflet.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/esri-leaflet-v2.2.4/esri-leaflet.js' %}"></script>

<link rel="stylesheet" href="{% static 'vendor-assets/leaflet/leaflet.draw/src/leaflet.draw.css' %}">
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/Leaflet.draw.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/Leaflet.Draw.Event.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/Toolbar.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/Tooltip.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/ext/GeometryUtil.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/ext/LatLngUtil.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/ext/LineUtil.Intersect.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/ext/Polygon.Intersect.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/ext/Polyline.Intersect.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/ext/TouchEvents.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/draw/DrawToolbar.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/draw/handler/Draw.Feature.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/draw/handler/Draw.SimpleShape.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/draw/handler/Draw.Polyline.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/draw/handler/Draw.Marker.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/draw/handler/Draw.Circle.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/draw/handler/Draw.CircleMarker.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/draw/handler/Draw.Polygon.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/draw/handler/Draw.Rectangle.js' %}"></script>


<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/edit/EditToolbar.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/edit/handler/EditToolbar.Edit.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/edit/handler/EditToolbar.Delete.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/Control.Draw.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/edit/handler/Edit.Poly.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/edit/handler/Edit.SimpleShape.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/edit/handler/Edit.Rectangle.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/edit/handler/Edit.Marker.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/edit/handler/Edit.CircleMarker.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/src/edit/handler/Edit.Circle.js' %}"></script>

<link href="{% static 'vendor-assets/leaflet/Leaflet.ZoomBox-master/L.Control.ZoomBox.css' %}" rel="stylesheet"/>
<script src="{% static 'vendor-assets/leaflet/Leaflet.ZoomBox-master/L.Control.ZoomBox.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'vendor-assets/leaflet/Leaflet.zoomslider-master/src/L.Control.Zoomslider.css' %}" />
<script src="{% static 'vendor-assets/leaflet/Leaflet.zoomslider-master/src/L.Control.Zoomslider.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'vendor-assets/leaflet/Leaflet.NavBar-master/src/Leaflet.NavBar.css' %}"/>
<script src="{% static 'vendor-assets/leaflet/Leaflet.NavBar-master/src/Leaflet.NavBar.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/leaflet-easyPrint-gh-pages/dist/bundle.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'vendor-assets/leaflet/Leaflet.contextmenu/leaflet.contextmenu.min.css' %}"/>
<script src="{% static 'vendor-assets/leaflet/Leaflet.contextmenu/leaflet.contextmenu.min.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{% static 'vendor-assets/leaflet/leaflet-search/leaflet-search.min.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'vendor-assets/leaflet/leaflet-search/leaflet-search.mobile.min.css' %}"/>
<script src="{% static 'vendor-assets/leaflet/leaflet-search/leaflet-search.src.js' %}"></script>

<script src="{% static 'vendor-assets/togeojson/togeojsons.min.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/Leaflet.FileLayer/leaflet.filelayer.js' %}"></script>

<!-- Leaflet Scripts End-->